GOOGLE_SAFE_BROWSING_API_KEY=AIzaSyCPQgseSRqEPUfguoUWrr5yx7Rj2K037F
ADMIN_PASSWORD=1234
ANTHROPIC_API_KEY=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
